
<!DOCTYPE html>
<html lang="en">

@{
    var currentUser = ViewData["CurrentUser"] as OutOfOffice.MVC.Models.Identity.UserVM;
}


<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - OutOfOffice.MVC</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/OutOfOffice.MVC.styles.css" asp-append-version="true" />
</head>

<body>
    <div class="container-fluid">
        <div class="row">
            <!-- Side Panel -->
            <div class="col-md-3 side-panel d-flex flex-column">
                <div class="card user-details">
                    <div class="card-body">
                        <img src="https://via.placeholder.com/80" alt="User Photo">
                        <h5 class="card-title">@currentUser.FirstName @currentUser.LastName</h5>
                        <p class="card-text">@currentUser.Email</p>
                        <p class="card-text">@currentUser.Role</p>
                    </div>
                </div>
                <div class="nav-card d-flex flex-column flex-grow-1">
                    <div class="flex-grow-1">
                        <nav class="nav flex-column nav-pills">
                            <a class="nav-link" asp-area="" asp-controller="Employee" asp-action="Index">Employee</a>
                            <a class="nav-link" asp-area="" asp-controller="Project" asp-action="Index">Project</a>
                         
                         
                            <a class="nav-link" asp-area="" asp-controller="LeaveRequest"
                                asp-action="Index">LeaveRequest</a>
                            <a class="nav-link" asp-area="" asp-controller="ApprovalRequest"
                                asp-action="Index">ApprovalRequest</a>
                        </nav>
                    </div>
                    <a class="nav-link mt-auto" asp-area="" asp-controller="Identity" asp-action="Logout">Logout</a>

                </div>

            </div>
            <!-- Content Area -->
            <div class="col-md-9">
                <!-- Header -->
                    <div class="content-area">
                            @RenderBody()
                    </div>

            </div>
        </div>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/JWTStorage.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>

</html>
